.background {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

@media only screen and (max-width: 768px) {
    @supports (height: 100dvh) {
        .background {
            height: 100dvh
        }
    }
    .background {
        background-position: top center;
    }
}
