.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    background-color: var(--transparent);
    color: var(--font-grey)
}

@media only screen and (max-width: 768px) {
    .footer{
        font-size: 7px;
    }

}