.home-page {
    color: var(--font-grey)
}

.home-header {
    position: fixed;
    top: 20%;
    left: 20%;
    font-size: 2.5rem;
    font-variant: small-caps;
}

@media only screen and (max-width: 768px) {
    .home-header {
        text-align: center;
        top: auto;
        left: auto;
        bottom: 10%;
        height: fit-content;
        width: 100%;
    }
}